<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIS QUINCE</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="owl.carousel.min.css" />
    <link rel="stylesheet" href="owl.theme.default.min.css" />

    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Festive&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Festive&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Festive&family=Heebo:wght@100&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Festive&family=Heebo:wght@100&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Heebo:wght@100&family=Mr+De+Haviland&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Heebo:wght@100&family=Mr+De+Haviland&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Heebo:wght@100&family=Mr+De+Haviland&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Send+Flowers&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Fleur+De+Leah&family=Heebo:wght@100&family=Lovers+Quarrel&family=Mr+De+Haviland&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Send+Flowers&family=WindSong&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a97faa0bd3.js"
      crossorigin="anonymous"
    ></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  </head>

  <body onload="loadMyScript()">
    <img class="imagen" src="./images/nuevo_top1.png" alt="" />
    <svg
    id="btn-audio"
     class="audio animate__animated animate__bounce"
     xmlns="http://www.w3.org/2000/svg"
     x="0px"
     y="0px"
     width="48"
     height="48"
     viewBox="0 0 226 226"
     style="fill: #000000"
   >
     <g
       fill="none"
       fill-rule="nonzero"
       stroke="none"
       stroke-width="1"
       stroke-linecap="butt"
       stroke-linejoin="miter"
       stroke-miterlimit="10"
       stroke-dasharray=""
       stroke-dashoffset="0"
       font-family="none"
       font-weight="none"
       font-size="none"
       text-anchor="none"
       style="mix-blend-mode: normal"
     >
       <path d="M0,226v-226h226v226z" fill="none"></path>
       <path
         d="M113,226c-62.40818,0 -113,-50.59182 -113,-113v0c0,-62.40818 50.59182,-113 113,-113v0c62.40818,0 113,50.59182 113,113v0c0,62.40818 -50.59182,113 -113,113z"
         fill="#cccccc"
       ></path>
       <g fill="#e91e63">
         <path
           d="M94.6375,113c-18.72245,0 -33.9,15.17755 -33.9,33.9c0,18.72245 15.17755,33.9 33.9,33.9c18.72245,0 33.9,-15.17755 33.9,-33.9c0,-18.72245 -15.17755,-33.9 -33.9,-33.9z"
         ></path>
         <path
           d="M113.47083,45.2v101.7h15.06667v-71.56667l41.43333,11.3v-26.36667z"
         ></path>
       </g>
     </g>
   </svg>
   
    <div class="contenedor">
      <div class="hijo">
        <a class="lista1" href="#separador2">Ubicacion</a>
        <a class="lista3" href="#details">Galeria</a>
      </div>

      <div class="nombres">
        <img class="mis" src="./images/quince.png" alt="">
        <h1 class="nombre">Valeria</h1>
        <p>
          Con la bendicion de Dios, y el amor <br> 
          que mis padres me han dado, me <br>
          siento felíz de llegar a este momento <br>
          de mi vida, donde dejaré atrás mi<br>
          infancia y comenzaré un nuevo viaje.
        </p>
        <h3>Mis padres</h3>
        <h3>Raul Sotelo y Alejandra Garcia</h3>
        <h3>Y Mis Padrinos</h3>
        <h3>Lucio A. de los Santos y Daniela Sotelo</h3>
        <p>Los invitan cordialmente a celebrar <br>
           este día</p>
      </div>
    </div>
    <img class="imgsep" src="./images/separador1.png" />
    <div class="squedule">
      <div class="fecha">
        <span class="numero" style="font-size: 45px; font-weight: bold"
          >21</span
        >
        <span>MAYO <br />2022</span>
      </div>
      <div class="hora">
        <span>19:00</span>
        <span>HORAS</span>
      </div>
      <div class="lugar">
        <span>El Cachito de Cielo</span>
      </div>
    </div>

    <audio id="aud" loop="true" src="./images/vals_mariposas.mp3"></audio>

    <div id="separador2">
      <h2>UBICACION</h2>
    </div>

    <div id="map">
      <h3>Misa: Capilla San Judas Tadeo</h3>
      <h3>San Jeronimito</h3>
      <h3>06:00PM</h3>
      <form>
        <a target="_blank" href="https://goo.gl/maps/MUomXiPi5EeFW4Wb9">
          <input id="mapa" type="button" value="IR AL MAPA" />
        </a>
      </form>
      <h3>Fiesta: El Cachito de Cielo</h3>
      <h3>Playa larga</h3>
      <h3>07:00PM</h3>
      <form>
        <a target="_blank" href="https://goo.gl/maps/VHZbBLrhw1WBvLuv5">
          <input id="mapa" type="button" value="IR AL MAPA" />
        </a>
      </form>
      <div id="reloj">
        <div class="faltan">Faltan</div>
        <output id="black">...</output>
        <div class="datos">
          <div>Dias</div>
          <div>Hrs</div>
          <div>Mins</div>
          <div>Segs</div>
        </div>
      </div>
    </div>
    <img class="imgsep" src="./images/separador3.png" alt="" />
    <form class="confirmacion" method="post" action="/confirmacion">
      <h1>Confirmar Asistencia</h1>
      <input
        placeholder="Nombre y Apellidos"
        class="confirm"
        type="text"
        name="nombre"
      />
      <button class="sendconfirm" type="submit">Enviar</button>
    </form>
    <p>Te queremos ver con mucho color <br>
       al mejor estilo mexicano</p>
    <div class="corona">
      <img class="corona1" src="./images/mexicanos.png" alt="corona flores">
    </div>
    <p class="regalo">El mejor regalo que nos puedes dar es tu presencia, pero si realmente me quieres regalar algo, me lo puedes dar dentro de un sobre que estará a disposicion en la entrada de la fiesta</p>
    
    <div class="details" id="details">
      <h2>GALERIA</h2>
    </div>
    <div class="galery">
      <div class="owl-carousel owl-theme">
        <div class="item item-border">
          <img src="./images/Vale1.png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale_abuelospng.png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/valepadrinos.png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale (13).png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale y papas1.png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale (8).png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale (9).png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale(5).png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale(12).png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale(11).png" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale17.jpeg" alt="" />
        </div>
        <div class="item item-border">
          <img src="./images/vale16.jpeg" alt="" />
        </div>
      </div>
    </div>
    <div style="display:flex; flex-direction:column; align-items: center; width: 100%;">
      <span>Contacto</span>
      <a href="tel:7551110603" style="text-decoration:none; cursor:pointer" ><i class="fa-solid fa-phone" style="margin-right:10px"></i>755 111 0603</a> 
    </div>
  
    
    <img class="imagen" src="./images/bottom1.png" alt="" />
    
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.1/buzz.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
