<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIS QUINCE</title>
    <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Festive&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Festive&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Festive&family=Heebo:wght@100&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Festive&family=Heebo:wght@100&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Heebo:wght@100&family=Mr+De+Haviland&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Heebo:wght@100&family=Mr+De+Haviland&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Heebo:wght@100&family=Mr+De+Haviland&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Send+Flowers&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Courgette&family=Emilys+Candy&family=Festive&family=Fleur+De+Leah&family=Heebo:wght@100&family=Lovers+Quarrel&family=Mr+De+Haviland&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Send+Flowers&family=WindSong&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a97faa0bd3.js" crossorigin="anonymous"></script>
  </head>

  <body onload="loadMyScript()">
    <img class="imagen" src="./images/nuevo_top1.png" alt="" />

    <div class="contenedor">
      <div class="hijo">
        <a class="lista1" href="#separador2">Ubicacion</a>
        <a class="lista3" href="detalles.html">Galeria</a>
      </div>

      <div class="nombres">
        <h1 class="quince">Mis XV años</h1>
        <h1 class="nombre">Valeria</h1>
        <h3>
          Con la bendicion de Dios, y el amor que mis padres me han dado,
          me siento felíz de llegar a este momento de mi vida,
          el día que dejaré atrás mi infancia y comenzaré un nuevo viaje.
        </h3>
      </div>
    </div>
 <img class="imgsep" src="./images/separador1.png" />
    <div class="squedule">
      <div class="fecha">
        <span class="numero" style="font-size: 45px; font-weight: bold">21</span>
        <span>MAYO <br />2022</span >
      </div>
      <div class="hora">
        <span>19:00</span>
        <span>HORAS</span>
      </div>
      <div class="lugar">
        <span>LA LANGOSTA</span>
      </div>
    </div>

   
 
    <audio src="malagueña.mp3" autoplay="true" loop="loop">...</audio>

    

    <div id="separador2">
      <h2>UBICACION</h2>
    </div>

    <div id="map">
  
     <h3 >Misa: Parroquia del Espiritu Santo</h3>
     <h3>05:00PM</h3>
     <form>
      <a target="_blank" href="https://goo.gl/maps/36xPH2TeS6jkqaZM9">
        <input id="mapa" type="button" value="IR AL MAPA" />
      </a>
    </form>
    <h3>Fiesta: Salon de fiestas La langosta</h3>
    <h3>07:00PM</h3>
      <form>
        <a target="_blank" href="https://goo.gl/maps/SGMQre3Wox4f2cg19">
          <input id="mapa" type="button" value="IR AL MAPA" />
        </a>
      </form>
      <div id="reloj">
        <div class="faltan">Faltan</div>
        <output id="black">...</output>
        <div class="datos">
          <div>Dias</div>
          <div>Hrs</div>
          <div>Mins</div>
          <div>Segs</div>
        </div>
      </div>
    </div>
    <div class="details">
      <h2>GALERIA</h2>
    </div>
    <div class="galery">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./images/Vale1.png" alt=""></div>
        <div class="swiper-slide"><img src="./images/valepadrinos.png" alt=""></div>
        <div class="swiper-slide"><img src="./images/vale (13).png" alt=""></div>
        <div class="swiper-slide"><img src="./images/vale y papas1.png" alt=""></div>
        <div class="swiper-slide"><img src="./images/vale (8).png" alt=""></div>
        <div class="swiper-slide"><img src="./images/vale (9).png" alt=""></div>
        <div class="swiper-slide"><img src="./images/vale(12).png" alt=""></div>
        <div class="swiper-slide"><img src="./images/vale(11).png" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  

    <img class="imagen" src="./images/bottom1.png" alt="" />
    <p></p>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
