@font-face {
    font-family: 'vale';
    src: url("mara.otf") format("opentype");
}

body {
    background-color: #fff;
    margin: 0;
}

.swiper {
    width: 90%;
    height: 90%;
    margin-top: 30px;
}

.swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* puestos por mi */
    margin:10px;
    padding: 10px;
    border: 10px solid black;



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.galery{
    background-image: url(./images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

.imagen {
    width: 100%;
}

.contenedor {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hijo {
    display: flex;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 60px;
}

.lista1 {
    text-align: center;
    color: rgb(201, 97, 97);
    font-family: "Trebuchet MS";
    text-decoration: none;
    width: 100%;
}

.lista3 {
    color: rgb(201, 97, 97);
    font-family: "Trebuchet MS";
    text-decoration: none;
    width: 100%;
    text-align: center;
}



h3 {
    color: #707550;
    display: block;
    font-family: "Raleway", sans-serif;
    text-align: justify;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}

.quince {
    font-family: "Mr De Haviland", cursive;
    position: relative;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: bold;
    background: linear-gradient(to left, #BB2225, #D1242C, #F36825);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: -5px;
    margin-top: -20px;
    text-align: center;
}

.nombre {
    font-size: 95px;
    padding: auto;
    color: #477944;
    font-family: 'vale';
    letter-spacing: 5px;
    text-align: center;
    font-weight: lighter;
    margin-top: 30px;
}

.numero {
    font-size: 30px;
    margin-right: 15px;
    font-weight: 500;
}

.box2 {
    display: inline-block;
    width: 50px;
    height: 80px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(29, 151, 151);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
}

.box3 {
    display: inline-block;
    width: 50px;
    height: 80px;
    margin-top: auto;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(29, 151, 151);
    border-left: 3px solid rgb(29, 151, 151);
    text-align: center;
}

.squedule {
    color: rgb(215, 175, 55);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
    justify-content: center;

}

.fecha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 25px;
}

.hora {
    border-left: 1px solid rgb(215, 175, 55);
    border-right: 1px solid rgb(215, 175, 55);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.lugar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px 0 10px;
}

.container {
    width: 100%;
    display: flex;
}

.imgsep {
    width: 100%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 300px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 5px;
    width: 5px;
    height: 5px;
    font-size: 20px;
    border-radius: 100%;
}

#black {
    font-family: 'Send Flowers', cursive;
    font-size: 35px;
    color: rgb(215, 175, 55);
    text-align: center;
}

#reloj {
    border: 2px solid rgb(215, 175, 55);
    border-radius: 10px;
    width: 206px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    
}

.datos {
    font-family: 'Send Flowers', cursive;
    color: rgb(77, 73, 44);
    font-size: 15px;
    justify-content: space-evenly;
    width: 206px;
    display: flex;
}

.faltan {
    text-align: center;
    font-family: 'Send Flowers', cursive;
    font-size: 30px;
    margin-top: -20px;
    color: #51504f;
    background: #fff;
    width: 95px;
    margin-left: 55px;
    display: flex;
}

#separador2 {
    display: flex;
    height: 60px;
    width: 100%;
    background: #9DD0B2;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.details {
    display: flex;
    height: 60px;
    width: 100%;
    background: #9DD0B2;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

#map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
    font-family: 'Send Flowers', cursive;
}

#mapa {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background: #D7B039;
}

.langosta {
    height: 350px;
    width: 350px;
}

.sep {
    width: 100%;
}

.imagen {
    margin-bottom: 0px;
}

@media screen and (min-width: 700px) {
    .contenedor {
        flex-basis: 100%;
        background-size: cover;
        display: flex;
    }

    .hijo {
        align-content: center;
        justify-content: space-around;
    }

    .fecha, .hora, .lugar {
        width: 15%;
    }
}